    <hr class="no-margin">
    <footer  class="align-items-center text-center bg-dark pt-3 pb-3 py-3">
        <div>
            CST336 Internet Programming. <br>&copy; 2026 Stan P<br>
        </div>
        <figure><img src="img/csumblogo-2.png" alt="CSUMB Logo"></figure>
        <div>
            <strong>Disclaimer:</strong> This content is for learning purposes only and was created with the assistance
            of ChatGPT.<br>
        </div>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" style="padding: 0 2em;">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!">
        </a>
    </footer>
</body>

</html>