<body>
    <nav class="red-hat-font">
        <a href="https://stanis-sudo.github.io/index.html"><img src="img/g-logo-48x48.png" alt="Website logo"></a>
        <div class="nav-links">
            <a href="/index" class="selected">Home</a>
            <a href="/components">OS Components</a>
            <a href="/os-types">OS Types</a>
            <a href="/popular-os">Popular OS</a>
        </div>
    </nav>