<body>
    <nav class="red-hat-font">
        <a href="https://stanis-sudo.github.io/index.html"><img src="img/g-logo-48x48.png" alt="Website logo"></a>
        <div class="nav-links">
            <%- navLinks %>
        </div>
    </nav>