nav {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    padding: 0px 10px;
    text-align: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 2px;
    display: inline-block;
}

nav div a:hover {
    background-color: #00d1b9;
    border-radius: 5px;
}

nav a.selected {
    background-color: #00d1b9;
    border-radius: 5px;
}

nav img {
    height: 40px;
}

.red-hat-font {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 500;
}